body {
    background-color: #f1f3f5;
}

/* NAVBAR */
.logo-icon {
    width: 30px;
    margin-right: 8px;
}

/* HEADER CINZA */
.header-titulo {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 20px 0;
}

/* CARDS */
.card-custom {
    border: none;
    border-radius: 12px;
    padding: 18px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.card-custom:hover {
    transform: translateY(-3px);
}

/* ÍCONES */
.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-blue { background: #e7f1ff; }
.icon-yellow { background: #fff4db; }
.icon-green { background: #e6f4ea; }

.icon-img {
    height: 22px;
}

/* TEXTOS */
small {
    font-size: 14px;
    color: #6c757d;
}

h4 {
    font-size: 22px;
    font-weight: bold;
}

/* BOTÃO */
.btn-agendar {
    border-radius: 10px;
    padding: 12px;
}

.btn-agendar a {
    text-decoration: none;
    color: white;
}

.back-btn{
    margin: 15px 0;
}


/*New Agendamento*/

.form-label {
    font-size: 0.9rem;
    color: #495057;
    font-weight: 500;
}
.form-label i {
    margin-right: 5px;
}
.btn-primary {
    background-color: #1d4ed8; /* Azul similar ao da imagem */
    border-color: #1d4ed8;
    font-weight: 500;
}
.btn-primary:hover {
    background-color: #1e40af;
}
.btn-cancel {
    color: #6c757d;
    font-weight: 500;
    text-decoration: none;
}
.btn-cancel:hover {
    color: #495057;
}
.card-header-custom {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}




/*Nenhum agendamento feito*/

#empty-list-text {
    background: #fff;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    border: 1px solid #e9ecef;
    margin-top: 20px;
}

#empty-list-text h5 {
    font-weight: 600;
    margin-bottom: 10px;
}

#empty-list-text p {
    color: #6c757d;
    margin-bottom: 20px;
}

#empty-list-text a {
    display: inline-block;
    background: #0d6efd;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
}

#empty-list-text a:hover {
    background: #0b5ed7;
}