body {
    background-color: #f1f3f5;
}

/* NAVBAR */
.logo-icon {
    width: 30px;
    margin-right: 8px;
}

/* HEADER CINZA */
.header-titulo {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 20px 0;
}

/* CARDS */
.card-custom {
    border: none;
    border-radius: 12px;
    padding: 18px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.card-custom:hover {
    transform: translateY(-3px);
}

/* ÍCONES */
.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-blue { background: #e7f1ff; }
.icon-yellow { background: #fff4db; }
.icon-green { background: #e6f4ea; }

.icon-img {
    height: 22px;
}

/* TEXTOS */
small {
    font-size: 14px;
    color: #6c757d;
}

h4 {
    font-size: 22px;
    font-weight: bold;
}

/* BOTÃO */
.btn-agendar {
    border-radius: 10px;
    padding: 12px;
}